@model SportsStore.WebUI.Models.AccountDetailsViewModel

@{
    ViewBag.Title = "Tworzenie użytkownika";
    Layout = "../Shared/_AccountLayout.cshtml";
}

<div class="panel">
    <div class="panel">
        <h1>Tworzenie użytkownika</h1>
    </div>

    @using (Html.BeginForm("Create", "Accounts"))
    {
        <div class="panel-body">
            @Html.Partial("_AccountDetails", Model)
            @Html.EditorFor(m => m.Address)
            <div class="panel-footer">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a href="@Model.ReturnUrl" class="btn btn-default">Powrót</a>
            </div>
        </div>
    }
</div>