* {
    padding: 0px;
    margin: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-left: 15px
}

body {
    padding-bottom: 50px;
}

.footer {
    float: right !important;
    background-image: linear-gradient(white, #e3e3e3);
    padding-bottom: 5px;
    padding-right: 10px;
    height: 50px;
}

.logged-user {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.account-content {
    padding-left: 30px;
    padding-right: 30px;
}

.margin-left {
    margin-left: 10px;
}